<p>
	Autor de la página web: Miguel Villalba Pérez.
	<img src='images/perfil.JPG' class='foto_credit' />
</p>
<br />
<hr />
<br />
<p>
	Colaboración del personal del departamento del <abbr value='Departamento de Ingeniería de Sistemas Telemáticos'>DIT</abbr> de la <abbr value='Escuela Técnica Superior de Ingenieros de Telecomunicación'>ETSIT</abbr> de la <abbr value='Universidad Politécnica de Madrid'>UPM</abbr> con parte del código usado.
	<img src='images/colab.gif' class='foto_credit' />
</p>