<!DOCTYPE html>
<html>
<head>
	<meta>
	<title>Quiz</title>
	<link rel='icon' type='image/x-icon' href='favicon.ico' />
	<link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
</head>
<body>

	<header>
		<h1>Quiz: el juego de las preguntas</h1>
	</header>

	<nav>
		<a href='/'>Inicio</a>
		<a href='/question'>Preguntas</a>
	</nav>

	<section>
		<div><%- body %></div>
	</section>

	<footer>
		<a href='http://es.wikipedia.org/wiki/Quiz'>¿Qué es un quiz?</a>
	</footer>
</body>
</html>