<!DOCTYPE html>
<html>
<head>
	<meta>
	<title>Quiz</title>
	<link rel='icon' type='image/x-icon' href='favicon.ico' />
	<link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
	<link rel='stylesheet' type='text/css' href='/stylesheets/wide.css' 
		media='only screen and (min-width:1080px) and (min-device-width:720px)' />
	<link rel='stylesheet' type='text/css' href='/stylesheets/smartphone.css' 
		media='only screen and (max-width:480px)' />
</head>
<body>
	<div id='page'>
		<header class='main'>
			<h1>Quiz<span class='no-narrow'>: el juego de las preguntas</span></h1>
		</header>

		<nav class='main' role='navigation'>
			<a href='/'>Inicio</a>
			<a href='/question'>Preguntas</a>
		</nav>

		<section class='main'>
			<div><%- body %></div>
		</section>

		<footer class='main'>
			<a href='http://es.wikipedia.org/wiki/Quiz'>¿Qué es un quiz?</a>
		</footer>
	</div>	
</body>
</html>