<br />
<form method='get' action='/quizzes/<%= quiz.id %>/check'>
  <h2><%= quiz.question %></h2>
  <input type='text' value='<%= answer %>' name='answer' placeholder='Responda aquí...' />
  <input type='submit' value='Enviar' />
</form>
<br />